html, body {
  overflow-x: hidden;
}


/* Lists */
ul {
  margin: 0;
  padding: 0;
}

/* Container */
#container {
  position: relative;
  padding-top: 1px;
  padding-bottom:auto;
}
@media all and (min-width: 300px) {
    .menu-btn {
        width: 65%;
    /   padding: 2px;
        padding-bottom: 2px;
        margin-top: 0px;
        margin-left: 30px;
        color: #fff;
        background: #000;
        font-size: 10px;
            float: left;
    }


.mm{
    float: left;
}
header{
  height: 60px;
    background: saddlebrown; /* For browsers that do not support gradients */
    background: -webkit-linear-gradient(saddlebrown, beige); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(saddlebrown, beige); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(saddlebrown, beige); /* For Firefox 3.6 to 15 */
    background: linear-gradient(saddlebrown, beige); /* Standard syntax (must be last) */
    display: block;


}
#demo1{
    float: left;
}
.logo{
    width: 7%;
    float: left;
}
.site-footer {
  position: relative;
  border-top: 1px solid #EEE;
  color: #999;
  padding: 10px;
  font-size: 0.8em;
  text-align: center;
   height: 60px;
    background: beige; /* For browsers that do not support gradients */
    background: -webkit-linear-gradient(beige,saddlebrown); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(beige,saddlebrown); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(beige,saddlebrown); /* For Firefox 3.6 to 15 */
    background: linear-gradient(beige,saddlebrown); /* Standard syntax (must be last) */

}
.social {
  width: 50%;
  float: right;
  text-align: right;
  font-size: 10px;
  color: saddlebrown;
}
.social a {
  margin: 0 8px;
  color: saddlebrown;
}
.social a:hover {
  color: white;
}
.info{
    padding-left: 10px;
    float: left;
    margin-left: 10px;
  color: saddlebrown;
      font-size: 8px;

}
.info a{
    color: saddlebrown;
}

#demo11{
    padding-left: 20%;
	font-size: 40px;
	color: black;
}

}
/* Menu Button */
@media screen and (min-width: 800px){
.menu-btn {
  width: 100%;
  padding: 5px;
  margin-top: 25px;
  margin-left: 30px;
  background: #000;
  color: #FFF;
  text-align: center;
  cursor: pointer;
  border: 0px;
}
    .logo{
    width: 7%;
}
#demo11{
    margin: auto;
    float: left;
    padding-left: 30%;
    padding-top: 20px;
}
    #demo11 [class*="word"]:last-child
{
    margin-right: 0;
    padding-left: 30px;
}
#demo11 [class*="char"]
{
    background: #863903;
    padding: 10px;
    font-size: 30px;
    color: #fff;
    display: inline-block;
}
#demo11 [class*="char"]:nth-child(odd)
{
    transform:skewY(-10deg);
    -ms-transform:skewY(-10deg);
}

#demo11 [class*="char"]:nth-child(even)
{
    transform:skewY(10deg);
    -ms-transform:skewY(10deg);
    background-color: #a5a595;
}


.logo{
    float: left;
    padding-top: 5px;
    padding-left: 10px;
    width: 7%;
}
.mm{
    float: left;
}
header{
  height: 125px;
    background: saddlebrown; /* For browsers that do not support gradients */
    background: -webkit-linear-gradient(saddlebrown, beige); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(saddlebrown, beige); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(saddlebrown, beige); /* For Firefox 3.6 to 15 */
    background: linear-gradient(saddlebrown, beige); /* Standard syntax (must be last) */
    display: block;


}
.site-footer {
    margin-bottom: 0px;
  color: #999;
  padding: 10px;
  font-size: 0.8em;
  text-align: center;
   height: 120px;
    background: beige; /* For browsers that do not support gradients */
    background: -webkit-linear-gradient(beige,saddlebrown); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(beige,saddlebrown); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(beige,saddlebrown); /* For Firefox 3.6 to 15 */
    background: linear-gradient(beige,saddlebrown); /* Standard syntax (must be last) */

}
.social {
  width: 50%;
  float: right;
  text-align: right;
  font-size: 30px;
  color: saddlebrown;
}
.social a {
  margin: 0 8px;
  color: saddlebrown;
}
.social a:hover {
  color: white;
}
.info{
    padding-left: 20px;
    float: left;
    margin-left: 20px;
  color: saddlebrown;
      font-size: 15px;

}
.info a{
    color: saddlebrown;
}

}
.menu-btn:hover {
  opacity: 0.6;
}
.nn{
    float: left;
}
/* Footer */

/*# sourceMappingURL=demo.css.map */
