html, body{
	overflow-x: hidden;
}

/* Lists */

ul{
    margin: 0;
    padding: 0;
}

/* Container */

#container{
	position: relative;
	padding: 20px 40px;
	padding-top: 10px;
}

/* Menu Button */

.menu-btn{
	width: 100px;
	padding: 10px;
	margin-bottom: 5px;
	background: #000;
	color: #FFF;
	text-align: center;
	cursor: pointer;
	border: 0px;

	&:hover{
		opacity: 0.6;
	}
}

/* Header */

.site-header{
	position: fixed;
	background: #000;
	color: #FFF;
	width: 100%;
	padding: 20px 0;
	text-align: center;
	z-index: 9998;
}

/* Footer */

.site-footer{
	position: relative;
	border-top: 1px solid #EEE;
	color: #999;
	padding: 10px;
	font-size: 0.8em;
	text-align: center;
}