@charset "utf-8";
/* CSS Document */


#container2{
	width: 100%;
	height: 500px;
	background-color: #DDCDAE;
	text-align: center;
}


#cart{
    padding: 25px;
	width: 50%;
	height: 500px;
	background-color: #DDCDAE;
	margin:auto;
	text-align: center;
}

table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
	text-align: center;
}

th, td {
    padding: 15px;
	width: 30%;
	text-align: center;
		background-color: #DDCDAE;

}



#item, #qty, #custom, #price{
	
	background-color: #DDCDAE;
	  border: 0px solid black;
    border-collapse: collapse;
	text-align: center;	
}


