@charset "utf-8";
/* CSS Document */


#container1{
	width: 100%;
	background-color: #DDCDAE;
}

#section1{
	width: 25%;
	height: 50%;
	background-color: #DDCDAE;
		float:left;
}


#section2{
	width: 33%;
	height: 50%;
	background-color: #DDCDAE;
		float:left;
}

#section3{
	width: 33%;
	height: 50%;
	background-color: #DDCDAE;
		float:left;
}

#section4{
	width: 33%;
	height: 50%;
	background-color: #DDCDAE;
		float:left;
}

#section5{
	width: 33%;
	height: 50%;
	background-color: #DDCDAE;
		float:left;
}

#section6{
	width: 33%;
	height: 50%;
	background-color: #DDCDAE;
		float:left;
}



#flip1 {
    float:left;
	text-align: center;
	background-color: #DDCDAE;
    padding-top: 15px;
    padding-left: 10px;
}

#panel1 {
	float:left;
	width:150px;
    height:150px;
    display: none;
	text-align: center;
	background-color: #DDCDAE;
	margin: auto;
    padding-top: 25px;
}

#flip2 {
    float:left;
	text-align: center;
	background-color: #DDCDAE;
    padding-top: 15px;

}

#panel2 {
	
	width:200px;
    height:150px;
    display: none;
	text-align: center;
	background-color: #DDCDAE;
	margin: auto;
    float:left;
    padding-top: 25px;

}

#flip3 {
    
	text-align: center;
	background-color: #DDCDAE;
    float:left;
    padding-top: 15px;

}

#panel3 {
	
	width:200px;
    height:150px;
    display: none;
	text-align: center;
	background-color: #DDCDAE;
	margin: auto;
    float:left;
    padding-top: 25px;

}

#flip4 {
    
	text-align: center;
	background-color: #DDCDAE;
    float:left;
    padding-left: 50px;
}

#panel4 {
	
	width:200px;
    height:150px;
    display: none;
	text-align: center;
	background-color: #DDCDAE;
	margin: auto;
    float:left;

}

#flip5 {
    
	text-align: center;
	background-color: #DDCDAE;
    float:left;

}

#panel5 {
	
	width:200px;
    height:150px;
    display: none;
	text-align: center;
	background-color: #DDCDAE;
	margin: auto;
    float:left;

}


#flip6 {
    
	text-align: center;
	background-color: #DDCDAE;
    float:left;

}

#panel6 {
	
	width:200px;
    height:150px;
    display: none;
	text-align: center;
	background-color: #DDCDAE;
	margin: auto;
    float:left;

}