@charset "utf-8";
/* CSS Document */

@media all and (min-width: 300px) {

#container1{
	width: 100%;
	background-color: #DDCDAE;
}
#container{
			background-color: #DDCDAE;

}
#demo11{
    padding-left: 20%;
	font-size: 40px;
	color: black;
}
#section1{
	padding-left: 10px;
	width: 100%;
	height: 50%;
	background-color: #DDCDAE;
		float:left;
}


#section2{
	width: 100%;
	height: 50%;
	background-color: #DDCDAE;
		float:left;
}

#section3{
	width: 100%;
	height: 50%;
	background-color: #DDCDAE;
		float:left;
}

#section4{
	width: 100%;
	height: 50%;
	background-color: #DDCDAE;
		float:left;
}

#section5{
	width: 100%;
	height: 50%;
	background-color: #DDCDAE;
		float:left;
}

#section6{
	width: 100%;
	height: 50%;
	background-color: #DDCDAE;
		float:left;
}



#flip1 {
    float:left;
	text-align: center;
	background-color: #DDCDAE;
    padding-top: 15px;
    padding-left: 10px;
}

#panel1 {
	float:left;
	width:150px;
    height:150px;
    display: none;
	text-align: center;
	background-color: #DDCDAE;
	margin: auto;
    padding-top: 25px;
}

#flip2 {
    float:left;
	text-align: center;
	background-color: #DDCDAE;
    padding-top: 15px;

}

#panel2 {
	
	width:200px;
    height:150px;
    display: none;
	text-align: center;
	background-color: #DDCDAE;
	margin: auto;
    float:left;
    padding-top: 25px;

}

#flip3 {
    
	text-align: center;
	background-color: #DDCDAE;
    float:left;
    padding-top: 15px;

}

#panel3 {
	
	width:200px;
    height:150px;
    display: none;
	text-align: center;
	background-color: #DDCDAE;
	margin: auto;
    float:left;
    padding-top: 25px;

}

#flip4 {
    
	text-align: center;
	background-color: #DDCDAE;
    float:left;
    padding-left: 50px;
}

#panel4 {
	
	width:200px;
    height:150px;
    display: none;
	text-align: center;
	background-color: #DDCDAE;
	margin: auto;
    float:left;

}

#flip5 {
    
	text-align: center;
	background-color: #DDCDAE;
    float:left;

}

#panel5 {
	
	width:200px;
    height:150px;
    display: none;
	text-align: center;
	background-color: #DDCDAE;
	margin: auto;
    float:left;

}


#flip6 {
    
	text-align: center;
	background-color: #DDCDAE;
    float:left;

}

#panel6 {
	
	width:200px;
    height:150px;
    display: none;
	text-align: center;
	background-color: #DDCDAE;
	margin: auto;
    float:left;

}
.site-footer {
	margin-top: 1470px;
  position: relative;
  border-top: 1px solid #EEE;
  color: #999;
  padding: 10px;
  font-size: 0.8em;
  text-align: center;
   height: 60px;
    background: beige; /* For browsers that do not support gradients */
    background: -webkit-linear-gradient(beige,saddlebrown); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(beige,saddlebrown); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(beige,saddlebrown); /* For Firefox 3.6 to 15 */
    background: linear-gradient(beige,saddlebrown); /* Standard syntax (must be last) */

}

}
@charset "utf-8";
/* CSS Document */

@media all and (min-width: 800px) {

#container1{
	width: 100%;
	height: 480px;
	background-color: #DDCDAE;
}

#section1{
	padding-left: 10px;
	width: 25%;
	height: 50%;
	background-color: #DDCDAE;
		float:left;
}


#section2{
	width: 33%;
	height: 50%;
	background-color: #DDCDAE;
		float:left;
}

#section3{
	width: 33%;
	height: 50%;
	background-color: #DDCDAE;
		float:left;
}

#section4{
	width: 33%;
	height: 50%;
	background-color: #DDCDAE;
		float:left;
}

#section5{
	width: 33%;
	height: 50%;
	background-color: #DDCDAE;
		float:left;
}

#section6{
	width: 33%;
	height: 50%;
	background-color: #DDCDAE;
		float:left;
}



#flip1 {
    float:left;
	text-align: center;
	background-color: #DDCDAE;
    padding-top: 15px;
    padding-left: 10px;
}

#panel1 {
	float:left;
	width:150px;
    height:150px;
    display: none;
	text-align: center;
	background-color: #DDCDAE;
	margin: auto;
    padding-top: 25px;

}

#flip2 {
    float:left;
	text-align: center;
	background-color: #DDCDAE;
    padding-top: 15px;

}

#panel2 {

	width:200px;
    height:150px;
    display: none;
	text-align: center;
	background-color: #DDCDAE;
	margin: auto;
    float:left;
    padding-top: 25px;

}

#flip3 {

	text-align: center;
	background-color: #DDCDAE;
    float:left;
    padding-top: 15px;

}

#panel3 {

	width:200px;
    height:150px;
    display: none;
	text-align: center;
	background-color: #DDCDAE;
	margin: auto;
    float:left;
    padding-top: 25px;

}

#flip4 {

	text-align: center;
	background-color: #DDCDAE;
    float:left;
    padding-left: 50px;
}

#panel4 {

	width:200px;
    height:150px;
    display: none;
	text-align: center;
	background-color: #DDCDAE;
	margin: auto;
    float:left;

}

#flip5 {

	text-align: center;
	background-color: #DDCDAE;
    float:left;

}

#panel5 {

	width:200px;
    height:150px;
    display: none;
	text-align: center;
	background-color: #DDCDAE;
	margin: auto;
    float:left;

}


#flip6 {

	text-align: center;
	background-color: #DDCDAE;
    float:left;

}

#panel6 {

	width:200px;
    height:150px;
    display: none;
	text-align: center;
	background-color: #DDCDAE;
	margin: auto;
    float:left;

}

.site-footer {
    margin-bottom: 0px;
	margin-top: 1px;
  border-top: 1px solid #EEE;
  color: #999;
  padding: 10px;
  font-size: 0.8em;
  text-align: center;
   height: 120px;
    background: beige; /* For browsers that do not support gradients */
    background: -webkit-linear-gradient(beige,saddlebrown); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(beige,saddlebrown); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(beige,saddlebrown); /* For Firefox 3.6 to 15 */
    background: linear-gradient(beige,saddlebrown); /* Standard syntax (must be last) */

}

}